.map-container {
  position: absolute; /* Or relative/fixed depending on layout needs */
  top: 60px; /* Height of  Navbar */
  left: 0;
  right: 0;
  bottom: 0; /* Adjust when i put in Footer */
  height: calc(100vh - 60px); /* Example: Adjust '60px' to your Navbar height */
  width: 100%;
  z-index: 0;
}

.reset-button {
  position: absolute;
  top: 70px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}
